# GoogleMap API GeoCoding

What is geocoding?
Geocoding is the process of converting addresses (like "1600 Amphitheatre Parkway, Mountain View, CA") into geographic coordinates (like latitude 37.423021 and longitude -122.083739), which you can use to place markers on a map, or position the map.  https://developers.google.com/maps/documentation/geocoding/overview

In [2]:
import requests

API_KEY = 'AIzaSyCINMsums40LABd8oyCI1nVb7fR6W_UMI0'
#address = '67 Mounttown Lower, Dún Laoghaire, Dublin'
address ='Orchard Road,Clondalkin,DUBLIN 22'
#def getGeoCoord(address):
params = {
        'key': API_KEY,
        'address': address
    }
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
response = requests.get(base_url, params=params)
data = response.json()
print(data)

{'results': [{'address_components': [{'long_name': '22', 'short_name': '22', 'types': ['street_number']}, {'long_name': 'Orchard Road', 'short_name': 'Orchard Rd', 'types': ['route']}, {'long_name': 'Clondalkin', 'short_name': 'Clondalkin', 'types': ['neighborhood', 'political']}, {'long_name': 'Dublin', 'short_name': 'Dublin', 'types': ['locality', 'political']}, {'long_name': 'County Dublin', 'short_name': 'D', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Ireland', 'short_name': 'IE', 'types': ['country', 'political']}], 'formatted_address': '22 Orchard Rd, Clondalkin, Dublin, Ireland', 'geometry': {'location': {'lat': 53.3222781, 'lng': -6.393142399999999}, 'location_type': 'RANGE_INTERPOLATED', 'viewport': {'northeast': {'lat': 53.3236270802915, 'lng': -6.391793419708497}, 'southwest': {'lat': 53.3209291197085, 'lng': -6.394491380291502}}}, 'place_id': 'Eh4yMiBPcmNoYXJkIFJkLCBEdWJsaW4sIElyZWxhbmQiGhIYChQKEgmLWgeFRnNnSBHMxCnHmRh5RhAW', 'types': ['street_address']}], 'status': 'OK'}

In [3]:
data.keys()

dict_keys(['results', 'status'])

In [6]:
data['results'][0].keys()

dict_keys(['address_components', 'formatted_address', 'geometry', 'place_id', 'types'])

In [41]:
geometry = data['results'][0]['geometry']
print(geometry)

{'bounds': {'northeast': {'lat': 53.2864284, 'lng': -6.145579499999999}, 'southwest': {'lat': 53.286314, 'lng': -6.1457799}}, 'location': {'lat': 53.2863823, 'lng': -6.145656600000001}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 53.2877201802915, 'lng': -6.144330719708496}, 'southwest': {'lat': 53.2850222197085, 'lng': -6.147028680291501}}}

In [52]:
lat = geometry['location']['lat']
lon = geometry['location']['lng']
print(lat)
print(lon)

53.2863823
-6.145656600000001

# GC Using Pandas

In [9]:
from googlemaps import Client as GoogleMaps
import pandas as pd 
df= pd.read_csv("~/Desktop/ZeroCopy.csv")
df.head()

,Selling Area: Selling Area Name,Venue,Selling Area: City,Selling Area: Region,Selling Area: Outlet: Country
0,P. McCormack and Sons,"67 Mounttown Lower, Dún Laoghaire, Dublin, A96...",Cork,Cork,IE
1,Domino's Pizza - Dublin - Citywest,"Unit 29 Citywest Shopping Centre, Citywest, Du...",Dublin,Dublin,IE

In [10]:
df['long'] = ""
df['lat'] = ""
df.head()

,Selling Area: Selling Area Name,Venue,Selling Area: City,Selling Area: Region,Selling Area: Outlet: Country,long,lat
0,P. McCormack and Sons,"67 Mounttown Lower, Dún Laoghaire, Dublin, A96...",Cork,Cork,IE,,
1,Domino's Pizza - Dublin - Citywest,"Unit 29 Citywest Shopping Centre, Citywest, Du...",Dublin,Dublin,IE,,

In [11]:
gmaps = GoogleMaps('AIzaSyCINMsums40LABd8oyCI1nVb7fR6W_UMI0')

for i,value in df.iterrows():
    #print(f"Index: {i}")
    #print(f"{value}\n")
    
    try:
        
        geocode_result = gmaps.geocode(value['Venue'])
        df['lat'][i] = geocode_result[0]['geometry']['location'] ['lat']
        df['long'][i] = geocode_result[0]['geometry']['location']['lng']
        print(geocode_result)
    
    except Exception as e:
        print("Unexpected error occurred.", e )
       
    
    #for index, row in df.iterrows():
    #print(row['c1'], row['c2'])

[{'address_components': [{'long_name': '67', 'short_name': '67', 'types': ['street_number']}, {'long_name': 'Mounttown Lower', 'short_name': 'Mounttown Lower', 'types': ['route']}, {'long_name': 'Monkstown', 'short_name': 'Monkstown', 'types': ['neighborhood', 'political']}, {'long_name': 'Dublin', 'short_name': 'Dublin', 'types': ['locality', 'political']}, {'long_name': 'County Dublin', 'short_name': 'D', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Ireland', 'short_name': 'IE', 'types': ['country', 'political']}, {'long_name': 'A96 E4Y6', 'short_name': 'A96 E4Y6', 'types': ['postal_code']}], 'formatted_address': '67 Mounttown Lower, Monkstown, Dublin, A96 E4Y6, Ireland', 'geometry': {'bounds': {'northeast': {'lat': 53.2864284, 'lng': -6.145579499999999}, 'southwest': {'lat': 53.286314, 'lng': -6.1457799}}, 'location': {'lat': 53.2863823, 'lng': -6.145656600000001}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 53.2877201802915, 'lng': -6.144330719708496}, 'southwest': {'lat': 53.2850222197085, 'lng': -6.147028680291501}}}, 'place_id': 'ChIJ1Xhv04IIZ0gR48gLXgfWBqc', 'types': ['premise']}]
[{'address_components': [{'long_name': 'Citywest', 'short_name': 'Citywest', 'types': ['political', 'sublocality', 'sublocality_level_1']}, {'long_name': 'Dublin', 'short_name': 'Dublin', 'types': ['locality', 'political']}, {'long_name': 'County Dublin', 'short_name': 'D', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Ireland', 'short_name': 'IE', 'types': ['country', 'political']}], 'formatted_address': 'Unit 29 Citywest Shopping Centre, Citywest, Dublin, Ireland', 'geometry': {'location': {'lat': 53.2832327, 'lng': -6.423070099999999}, 'location_type': 'GEOMETRIC_CENTER', 'viewport': {'northeast': {'lat': 53.2845816802915, 'lng': -6.421721119708497}, 'southwest': {'lat': 53.2818837197085, 'lng': -6.424419080291502}}}, 'place_id': 'ChIJHWEVA2B0Z0gRs7ouAlHb54s', 'plus_code': {'compound_code': '7HMG+7Q Dublin, County Dublin, Ireland', 'global_code': '9C5M7HMG+7Q'}, 'types': ['establishment', 'food', 'meal_takeaway', 'point_of_interest', 'restaurant']}]

In [6]:
df.to_csv('GB_address_coords.csv')